{%extends 'base.html'%}
{%load static%}

{%block main_block%}
<div class="container detail">
    <div class="row mt-5">
        <div class="col-lg-8">
            <img class="img-fluid" src="{{data.image.url}}" alt="" height="500px" width="100%">
        </div>
        <div class="col-lg-4">
            <div class="border border-dark p-3 rounded mb-3">
                <h1>{{data.name}} (<span>{{data.year}}</span>)</h1>
                <p><i class="fa-solid fa-gas-pump"></i> {{data.category}}</p>
                <p><i class="fa-solid fa-gauge-simple-high"></i> {{data.km_driven}} km</p>
                <p><i class="fa-solid fa-location-dot"></i> {{data.location}}</p>
            </div>
            <div class="border border-dark p-3 rounded">
                <h1>Chat with seller</h1>
                <h6>{{request.user}}</h6>
                <a class="btn border border-dark rounded" href="">Chat</a>
            </div>
        </div>
        <div class="border border-dark rounded mt-3">
            <p>Details</p>
            Brand | <span>{{data.brand_object}}</span>
            <p>Description | {{data.description}}</p>
            <p>Posting Date : {{data.created_date}}</p>
        </div>
    </div>
</div>

  
{%endblock%}

